/* Meu CSS */


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    
    margin: 0px;
    padding: 0px;
    
}

html{
    
    font-size: 62.5%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    

}
body{


	background-color: rgb(70, 69, 69);
    
    
	
}





.ret1 img {
   
    width: 100%;
    height: auto;
    
    opacity: 0.9;
}




header {
    
    width: 100%;
    height: 10vh;
    background: #9a9f9f;
    
}

.menu-content{
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.menu-content .list-itens{
    display: flex;
    list-style: none;
    gap: 20px;
    position: absolute;
}


.sobre{
    
  position: absolute;
    
}

.nav img {
   width: 100%;
    
}

h1 {
    
    
    color: #ffffff;
    font-size: 40px;
    text-align: right;
    text-shadow: 0.2em 0.05em 0.05em rgb(84, 76, 155);
    text-shadow: 0.1em 0.05em 0.05em rgb(36, 32, 30);
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

h2{
	color: #ffffff;
    margin: auto;
    text-align: auto;
	text-shadow: 0.2em 0.05em 0.05em rgb(84, 76, 155);
    text-shadow: 0.1em 0.05em 0.05em rgb(221, 108, 47);
	font-family: 'Lato', sans-serif;
    font-weight: lighter;
   
}

h3 {
	
	color : #feffff;
	text-align: center;
	margin: auto;
	text-shadow: 0.10em 0.05em 0.05em #333;
	font-family: 'Ubuntu Mono', monospace;
		
}

h4{
	color: rgb(245, 240, 240);
	margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}



	
p{
    color: #ffffff;
    text-align: auto;
	font-family: 'Ubuntu', sans-serif;
	
}

	


/*topo direita inferior esquerdo*/
/*zero nao precisa usar unidade*/




