/* Meu CSS */


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

* {
    
    margin: 0px;
    padding: 0px;
    
}

body{
	background-color: rgb(70, 69, 69);
	
}





.ret1 img {
   
    width: 100%;
    height: auto;
    
    opacity: 0.9;
}




header {
    
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}



.sobre{
    
   bottom: 10%;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
	
	font-family: 'Ubuntu', sans-serif;
    line-height:0;
    border-style: solid;
    border-color: ;
    border-width: 0 160px 50px 50px;
	border-color: #f00 rgb(52, 53, 52) rgb(78, 78, 80) rgb(51, 50, 46);
}


h1 {
    
    position: relative;
    color: #ffffff;
    font-size: 40px;
    text-align: right;
    text-shadow: 0.2em 0.05em 0.05em rgb(84, 76, 155);
    text-shadow: 0.1em 0.05em 0.05em rgb(36, 32, 30);
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h2{
	color: #ffffff;
    margin: auto;
    text-align: auto;
	text-shadow: 0.2em 0.05em 0.05em rgb(84, 76, 155);
    text-shadow: 0.1em 0.05em 0.05em rgb(221, 108, 47);
	font-family: 'Lato', sans-serif;
    font-weight: lighter;
   
}

h3 {
	
	color : #feffff;
	text-align: center;
	margin: auto;
	text-shadow: 0.10em 0.05em 0.05em #333;
	font-family: 'Ubuntu Mono', monospace;
		
}

h4{
	color: rgb(245, 240, 240);
	margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}



	
p{
    color: #ffffff;
    text-align: auto;
	font-family: 'Ubuntu', sans-serif;
	
}

	


/*topo direita inferior esquerdo*/
/*zero nao precisa usar unidade*/




